<!DOCTYPE html>
<html lang="ca">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
        integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
    <title>Galaxia Gutenberg</title>
</head>

<body>
    <div id="app">
        <header>
            <div class="header" @click="cambiarDiv('landing')">
                <h1>Galaxia Gutenberg</h1>
            </div>
        </header>
        <div id="container">
            <div v-if="mostrar('landing')" id="landing">
                <p>Esta es la landing page</p>
                <button @click="cambiarDiv('botiga')">Ir a tienda</button>
            </div>
            <div id="botiga" v-if="mostrar('botiga')">

                <div @click="togglePreviewCarrito()">
                    <img src="https://cdn.pixabay.com/photo/2014/04/02/10/48/shopping-304640_1280.png" alt=""
                        style="width: 40px; height: 40px;">
                </div>

                <div id="previewCarrito" v-if="previewCarrito">
                    <div>Cistella de la Compra </div>
                    <div>
                        <div>Resum de la comanda</div>
                        <div v-for="itemCarrito in getCarrito()" :key="itemCarrito.id">
                            <div>{{ getLlibrePerId(itemCarrito.id).titol }}</div>
                            <div>{{ itemCarrito.quantitat }}</div>
                            <div>{{ getLlibrePerId(itemCarrito.id).preu }}</div>
                        </div>
                        <div>El total de la compra es: {{ getPreuTotalCarrito() }} €</div>
                    </div>
                    <button @click="cambiarDiv('validacio')">PAGAR</button>
                </div>


                <div id="graella__productes">
                    <div id="producte" v-for="(llibre, index) in llibres"
                        @click="mostrarLlibre(llibre.id), cambiarDiv('mostrarLlibre')" :key="index">
                        <img id="producte__img" :src="llibre.portada" style="width: 200px;height: 200px;">
                        <div id="etiqueta">
                            <h5 id="producte__titol">{{llibre.titol}}</h5>
                            <p id="producte__preu">{{llibre.preu}}€</p>
                        </div>
                    </div>
                </div>

            </div>

            <div id="mostrarLlibre" v-if="mostrar('mostrarLlibre')">
                <div class="portada">
                    <img :src="getLlibreActual().portada">
                    <div class="butonsSumaResta">
                        <button @click="restarQuantitat()">-</button>
                        <input type="number" v-model="quantitat">
                        <button @click="sumarQuantitat()">+</button>
                    </div>
                </div>

                <div class="infoLlibre">
                    <h5>{{ getLlibreActual().titol }}</h5>
                    <p>{{ getLlibreActual().preu }}€</p>
                    <p>{{ getLlibreActual().any }}</p>
                </div>

                <div class="llibreDescr">
                    <p>{{ getLlibreActual().descripcio }}</p>
                </div>

                <div class="butonAfegir">
                    <button @click="cambiarDiv('botiga')"> &lt; Tornar enrere</button>
                </div>
            </div>

            <div id="validacio" v-if="mostrar('validacio')">
                <div id="dades">
                    <h2>Revisió</h2>
                    <div id="dadesInput">
                        <label for="nomValidacio">Nom</label>
                        <input type="text" id="nomValidacio" name="nomValidacio">
                        <label for="emailValidacio">Email</label>
                        <input type="email" id="emailValidacio" name="emailValidacio"
                            placeholder="exemple@mail.com">
                        <label for="telValidacio">Numero de telefon:</label>
                        <input type="tel" id="telValidacio" name="telValidacio" placeholder="123456789" maxlength="9"
                            pattern="[0-9]{9}">
                    </div>
                    <div>

                        <div id="resumCompra">
                            <h2>Resum compra</h2>
                            <table>
                                <tr>
                                    <th>Llibre</th>
                                    <th>Quantitat</th>
                                    <th>Preu</th>
                                </tr>
                                <tr v-for="itemCarrito in getCarrito()" :key="itemCarrito.id">
                                    <td>{{ getLlibrePerId(itemCarrito.id).titol }}</td>
                                    <td>{{ itemCarrito.quantitat }}</td>
                                    <td>{{ getLlibrePerId(itemCarrito.id).preu }} €</td>
                                </tr>
                                <tr>
                                    <td>TOTAL</td>
                                    <td>{{ getQuantitatTotalCarrito() }}</td>
                                    <td><strong>{{ getPreuTotalCarrito() }} €</strong></td>
                                </tr>
                            </table>
                        </div>
                        <div id="containerConf">
                          <button @click="cambiarDiv('estat')">CONFIRMAR</button>
                        </div>
                    </div>

                    <div v-if="mostrar('estat')" id="estat">
                        <button @click="cambiarDiv('validacio')">CONFIRMAR Estat</button>
                    </div>
                </div>
            </div>
            <footer>
                <hr>
                <p id="textFooter">© Biblioteca Galaxia Gutenberg All rights reserved.</p>
            </footer>
        </div>
        <script src="js/functions.js" type="module"></script>
    </div>
</body>

</html>
